@import './base.css';

#app {
  max-width: 90%;
  margin: 1.5rem;
  padding: 1.5rem;
  font-weight: normal;
}

a{
  text-decoration: none;
  text-decoration: underline;
  color: #ffffff;
  transition: 0.4s;
}

a:focus, a:active {
  background-color: #FF8BBB;
}

@media (hover: hover) {
  a:hover {
    background-color: #ED2E7C;
  }
}
@media (min-width: 1024px) {
  #app {
    max-width: 60%;
    display: grid;
    padding: 0 2rem;
    margin-left: 20%;
    margin-right: 20%;
  }
}
